{
  "presets": ["next/babel"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "~": "./",
          "~types": "./src/types/index",
          "~theme": "./src/theme",
          "~hooks": "./src/hooks",
          "~components": "./src/components"
        }
      }
    ]
  ]
}
